@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap');
* {
    margin: 0;
}

h1 {
    font-family: 'Dela Gothic One', cursive;
    color: rgba(200, 255, 255, 0.8);
    padding: 15px;
}

body {
    background-image: url('https://images.unsplash.com/photo-1592210454359-9043f067919b?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card {
    background-color: rgb(214, 214, 214);
    border: 2px solid rgb(170, 170, 170);
    border-radius: 25px;
    width: 20rem;
    margin: auto;
    border-radius: 25px;
    /*  運用到box-shadow和transition  */
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.3);
    transition: 0.4s;
    margin-bottom: 1.3rem;
}

.card:hover {
    background-color: rgb(255, 255, 255);
    /*  hover之後，改變陰影和位移，就可以做出漂浮效果  */
    box-shadow: 5px 5px 60px rgba(0, 0, 0, 0.3);
    transform: translate(-5px, -5px);
}