@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap');
* {
    margin: 0;
}

h1 {
    font-family: 'Dela Gothic One', cursive;
    color: rgba(200, 255, 255, 0.8);
    padding: 15px;
}

body {
    background-image: url('https://images.unsplash.com/photo-1592210454359-9043f067919b?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.card {
    /* 背景透明化 */
    background-color: rgb(214, 214, 214);
    /* 邊框透明化     */
    border: 2px solid rgb(170, 170, 170);
    /* 邊框圓角     */
    border-radius: 25px;
    width: 20rem;
    /*  卡片陰影  */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    transition: 0.5s;
}

.card:hover {
    /* 將顏色改為白色，增加 hover 差異效果 */
    background-color: #fff;
    /*  hover 之後，增加陰影面積和位移幅度，就可以做出漂浮效果  */
    box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.3);
    transform: translate(-5px, -5px);
}